
// -------------------- AMBIENT_OCCLUSION SNIPPET  -----------------------------------

float ambientOcclusion(vec3 p, vec3 n, float eps)
{
	return 1.0;
}

// -------------------- END OF AMBIENT_OCCLUSION SNIPPET  -----------------------------------
