
// ------------------------ FOG SNIPPET  -------------------------------------

void applyFog(inout vec3 col) {
	return col;
}

// -------------------- END OF FOG SNIPPET  -----------------------------------
