
// ------------------------ INNER GLOW SNIPPET  -------------------------------------

void applyInnerGlow(inout vec3 col) {
	return col;
}

// -------------------- END OF INNER GLOW SNIPPET  -----------------------------------
