// ------------------------ LIGHTING SNIPPET  -------------------------------------

vec3 lighting(vec3 L) {
	return albedo.rgb;	
}

// -------------------- END OF LIGHTING SNIPPET  ----------------------------------