
// ------------------------ OUTER GLOW SNIPPET  -------------------------------------

void applyOuterGlow(inout vec3 col) {
	return col;
}

// -------------------- END OF OUTER GLOW SNIPPET  -----------------------------------

